---
import Layout from "../layouts/Layout.astro";

import { leeItems } from "../lib/ec";

let colabora = await leeItems("colabora");
---

<Layout titulo={colabora.titular} metadescripcion={colabora.descricion_seo}>
  <!-- hero -->
  <div class="caixa mt-36" x-data="{ arquivo: $refs.arquivo }">
    <div class="text-center">
      <h1 class="h-45">{colabora.titular}</h1>
      <div class="max-w-2xl mx-auto">
        <div set:html={colabora.contido} />
      </div>
    </div>

    <form
      name="contacto"
      netlify
      netlify-honeypot="bot-field"
      method="POST"
      action="/exito"
    >
      <div class="caixa max-w-4xl bg-amber-300 py-24 mt-24">
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>

        <label for="nome">Nome</label>
        <input
          class="colabora"
          placeholder="O teu nome"
          type="text"
          name="nome"
          id="nome"
        />
        <label for="email">Email</label>
        <input
          class="colabora"
          placeholder="O teu email"
          type="email"
          name="email"
          id="email"
        />
        <label for="mensaxe">Mensaxe</label>
        <textarea
          class="colabora"
          rows="9"
          placeholder="Cóntanos!"
          name="mensaxe"
          id="mensaxe"></textarea>
        <!-- adxuntar -->

        <button
          type="button"
          @click="arquivo.click()"
          class="flex items-center justify-center gap-3 p-6 mt-16 border-4 border-amber-100 w-full text-center"
        >
          <div>
            <svg
              class="fill-none stroke-black stroke-2 size-8"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M13.234 20.252 21 12.3"> </path>
              <path
                d="m16 6-8.414 8.586a2 2 0 0 0 0 2.828 2 2 0 0 0 2.828 0l8.414-8.586a4 4 0 0 0 0-5.656 4 4 0 0 0-5.656 0l-8.415 8.585a6 6 0 1 0 8.486 8.486"
              >
              </path>
            </svg>
          </div>
          <div>Adxuntar arquivos (opcional)</div>
        </button>
        <small>O arquivo non pode pesar máis de 10MB</small>
        <input type="file" name="arquivo" x-ref="arquivo" class="hidden" />
        <!-- Normas -->
        <div id="normas" class="pt-12">
          <h2>{colabora.titular_participacion}</h2>
          <div set:html={colabora.explicacion_participacion} />
        </div>
        <!-- acordo -->
        <label for="normas" class="flex gap-3 items-center mt-16">
          <input
            class="size-9 border-4 border-amber-100 bg-transparent"
            type="checkbox"
            name="normas"
            id="normas"
            required
          />
          Lin e acepto as <a href="#normas" class="underline underline-offset-4"
            >Normas de participación</a
          >
        </label>
        <!-- acordo -->
        <label for="boletin" class="flex gap-3 items-center mt-6">
          <input
            class="size-9 border-4 border-amber-100 bg-transparent"
            type="checkbox"
            name="boletin"
            id="boletin"
          />
          Quero recibir novidades por email
        </label>
        <!-- envío -->
        <button
          class="bg-black p-8 text-center block w-full text-amber-100 mt-16 hover:bg-amber-900"
          >Enviar!</button
        >
      </div>
    </form>
  </div>
</Layout>
