---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { leeItems } from "../lib/ec";

let portada = await leeItems("portada");
let historias = await leeItems("historias");
let historia = historias[0];
---

<Layout titulo="titulo" metadescripcion="descripcion">
  <!-- Hero -->
  <div class="caixa relative">
    <div class="dupla xl:gap-0 items-center">
      <!-- Presentación -->
      <div class="flex-1">
        <div class="xl:pr-12">
          <h1
            class="text-4xl leading-tight sm:text-5xl sm:leading-snug max-w-xl"
          >
            <!-- {portada.titular} -->
            Camiños Falados<br /><span class="text-red-500">da Rúa</span>
          </h1>
          <span class="font-bold block mt-3 text-red-500"
            >Un percorrido pola memoria e os lugares</span
          >
          <!-- Mostramos el contenido como html -->
          <div set:html={portada.contido} />
          <a
            class="mt-6 py-6 border-b-4 border-black max-w-sm flex gap-3 hover:gap-6 items-center"
            href="/historia/1"
          >
            <div>Ler as historias</div>
            <svg
              class="fill-none stroke-current stroke-2 size-6"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 8L22 12L18 16"></path>
              <path d="M2 12H22"></path>
            </svg>
          </a>
          <a
            class="py-6 border-b-4 border-black max-w-xs flex gap-3 hover:gap-6 items-center"
            href="/roteiro/2"
          >
            <div>Ver os roteiros</div>
            <svg
              class="fill-none stroke-current stroke-2 size-6"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 8L22 12L18 16"></path>
              <path d="M2 12H22"></path>
            </svg>
          </a>
          <a
            href="/roteiros"
            class="block lg:hidden max-w-xs py-6 w-full text-center text-black bg-amber-300 mt-16"
            >Colabora co proxecto</a
          >
        </div>
      </div>
      <!-- Imagen -->
      <div class="flex-1 order-first xl:order-none xl:border-l-4 border-black">
        <div class="mx-auto w-fit">
          <img src="/mapa_simple.png" alt="" class="mx-auto" />
        </div>
      </div>
    </div>
    <div class="xl:border-b-4 border-black"></div>
  </div>

  <!-- Historias -->
  <div class="caixa mt-60 bg-black">
    <div class="dupla gap-12 xl:gap-20">
      <div class="flex-1 xl:pb-20">
        <Image
          src={`http://panel.camiñosfaladosdarua.gal/assets/${historia.imaxe_destacada.id}`}
          class="-mt-12"
          alt={historia.imaxe_destacada.title}
        />
        <small class="text-amber-100 mt-6 block"
          >{historia.imaxe_destacada.title}</small
        >
      </div>
      <div class="flex-1">
        <div class="pb-20 xl:py-20 text-amber-100">
          <h2
            class="text-4xl leading-snug sm:text-5xl sm:leading-snug text-amber-100"
          >
            {historia.titular}
          </h2>
          <div set:html={historia.destacado} />
        </div>
        <a
          href={`/historia/${historia.id}`}
          class="px-20 bg-amber-300 py-12 flex gap-3 hover:gap-6 items-center"
        >
          <div>Seguir lendo</div>
          <svg
            class="fill-none stroke-current stroke-2 size-6"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 8L22 12L18 16"></path>
            <path d="M2 12H22"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <!-- Roteiros -->
  <div class="caixa mt-36 xl:mt-60">
    <div class="dupla gap-0 xl:gap-20 items-center">
      <!-- Presentación -->
      <div class="flex-1">
        <div>
          <h1
            class="text-3xl leading-snug sm:text-5xl sm:leading-snug max-w-xl"
          >
            Roteiros
          </h1>

          <div set:html={portada.explicacion_roteiros} />

          <div>
            <a
              class="mt-12 py-6 border-b-4 border-black max-w-xs flex gap-3 hover:gap-6 items-center"
              href="/roteiro/2"
            >
              <div>Ver os roteiros</div>
              <svg
                class="fill-none stroke-current stroke-2 size-6"
                viewBox="0 0 24 24"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M18 8L22 12L18 16"></path>
                <path d="M2 12H22"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!-- Imagen -->
      <div class="flex-1 order-first xl:order-none">
        <div class="relative my-12 overflow-hidden bg-amber-300 p-3">
          <img src="/mapa.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</Layout>
