---
import Slider from "./slider.astro";
interface Props {
  parada: any;
  num: string;
}
const { parada, num } = Astro.props;
---

<div class="caixa" id={`parada-${num}`}>
  <div
    class="border-t-4 border-black"
    x-data="{ expanded: false }"
    @click="expanded = ! expanded"
  >
    <!-- Banda -->
    <div class="flex gap-6 xl:gap-20 py-12 items-center">
      <!-- Número -->
      <div class="xl:w-80 cursor-pointer">
        <div
          class="size-12 rounded-full bg-amber-300 flex items-center justify-center ml-auto"
        >
          <span class="text-2xl font-extrabold">{num}</span>
        </div>
      </div>
      <!-- Títular -->
      <div class="flex-1 cursor-pointer">
        <h2 class="text-xl sm:text-2xl xl:text-3xl">{parada.titular}</h2>
      </div>
      <div>
        <button>
          <svg
            class="fill-none stroke-black stroke-2 size-9"
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m6 9 6 6 6-6"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Contenido -->
    <div x-show="expanded" x-collapse>
      <!-- Slider -->
      <div>
        <Slider galeria={parada.galeria} />
      </div>

      <!-- sidebar y texto -->
      <div class="flex flex-col xl:flex-row gap-6 xl:gap-20 pt-12 pb-36">
        <!-- Número -->
        <div class="w-80 pt-6">
          {
            parada.mais_info ? (
              <div>
                <strong class="block">+ info:</strong>
                <p>
                  {parada.mais_info.map((m, i) => {
                    return (
                      <a
                        href={m.url}
                        class="underline ring-offset-4 block mb-3"
                      >
                        {m.texto}
                      </a>
                    );
                  })}
                </p>
              </div>
            ) : null
          }
        </div>
        <!-- Títular -->
        <div class="flex-1 order-first xl:order-none">
          <!-- Reproductor (si hay audio) -->
          {
            parada.audio ? (
              <div class="bg-amber-300 px-12 py-6 mt-6 mb-12">
                <div class="flex items-center gap-6">
                  <div>
                    <svg
                      class="fill-black stroke-black size-9"
                      viewBox="0 0 24 24"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <polygon points="6 3 20 12 6 21 6 3" />
                    </svg>
                  </div>
                  <div>
                    <svg
                      class="fill-none stroke-black size-20"
                      viewBox="0 0 24 24"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path d="M2 10v3" />
                      <path d="M6 6v11" />
                      <path d="M10 3v18" />
                      <path d="M14 8v7" />
                      <path d="M18 5v13" />
                      <path d="M22 10v3" />
                    </svg>
                  </div>
                  <div class="flex-1">
                    <div class="border-t-4 border-black" />
                  </div>
                </div>
              </div>
            ) : null
          }
          <!-- Texto -->
          <div set:html={parada.texto} />
        </div>
      </div>
    </div>
  </div>
</div>
